
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flat HTML5/CSS3 Login Form</title>



    <link rel="stylesheet" href="~/Content/style.css">

</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="name" />
                <input type="password" placeholder="password" />
                <input type="text" placeholder="email address" />
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            @using (Html.BeginForm("CheckLogin", "User", FormMethod.Post, "login-form"))
            { 
            @*<form class="login-form" method="post" action="User/CheckLogin" >*@
                <input type="text" placeholder="Email" name="email" required/>
                <input type="password" placeholder="Password" name="password" required/>
                <button type="submit">Login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            @*</form>*@
            }
        </div>
    </div>
    <script src='~/Content/js/jquery.min.js'></script>
    <script src="~/Content/js/index.js"></script>
</body>
</html>


