
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>



    <link rel="stylesheet" href="~/Content/style.css">

</head>
<body>
    <div class="login-page">
        <div class="form">
            @if (TempData["Error"] != null)
            {
                if (1 == (int)TempData["Error"])
                {
                    <h5 style="color:red;">* email is NOT exist</h5>
                }
                else if (2 == (int)TempData["Error"])
                {
                    <h5 style="color:red;">* password NOT match</h5>
                }
            }
            @using (Html.BeginForm("CheckLogin", "User", FormMethod.Post, "login-form"))
            { 
                <input type="text" placeholder="Email" name="email" required/>
                <input type="password" placeholder="Password" name="password" required/>
                <button type="submit">Login</button>
                <p class="message">Not registered? @Html.ActionLink("Create an account", "Register", "User")</p>
            }
        </div>
    </div>
    <script src='~/Content/js/jquery.min.js'></script>
    <script src="~/Content/js/index.js"></script>
</body>
</html>


