
@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-weight:bold">FAQs</h2>
<div style="width:80%;margin:auto">
    <h7 style="font-weight:bold">Duis leo. </h7>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commod
        o ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis di
        s parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
        justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
    </p>
    <h7 style="font-weight:bold">About Us page</h7>
    <p>
        Moz is a net famous search engine optimization company that has an amazing blog and
        an even more amazing set of products that help you get more traffic to your website.
        Their About Us page is one of the more robust examples in this list but instead of de
        tracting from the message the extra content gives it a lot of authority.
        The main focus of their About Page is a timeline graphic that takes you back through
        their history and details some achievements, challenges and major dates of the compan
        y. This gives a real sense of stability and gives you the idea that Moz will be around for a long time.
        A major advantage of this type of About Page is that the timeline lets you feel part
        of their story. You know where you’re slotting in and you feel like it’s transparent.
    </p>
    <h7 style="font-weight:bold">history and details</h7>
    <p>
        The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Ju
        nk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad n
        ymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jump
        y veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs vex bold Ji
        m. Quick zephyrs blow, vexing daft Jim.
    </p>
    <h7 style="font-weight:bold">wonderful serenity</h7>
    <p>
        ing language is more simple and regular than that of the individual languages
        . The new common language will be more simple and regular than the existing E
        uropean languages. It will be as simple as Occidental; in fact, it will be Oc
        cidental. To an English person, it will seem like simplified English, as a ske
        ptical Cambridge friend of mine told me what Occidental is.The
        is spot, which was created for the bliss of souls like mine. I
    </p>
    <h7 style="font-weight:bold">Vokalia and Consonantia</h7>
    <p>
        A wonderful serenity has taken possession of my entire soul, like these sweet mor
        nings of spring which I enjoy with my whole heart. I am alone, and feel the charm
        of existence in this spot, which was created for the bliss of souls like mine. I
    </p>
    <h7 style="font-weight:bold">languages</h7>
    <p>
        The languages only differ in their grammar, their pronunciation and their most common words. Everyon
        e realizes why a new common language would be desirable: one could refuse to pay expen
        sive translators. Tor the bliss of souls like mine. I
    </p>
</div>

