@using ShoesShop.Models;
@model List<Manufacturer>

@foreach (var item in Model)
{
    <li>@Html.ActionLink(@item.ManufacturerName, "ProductList", "Product", new { manufacturerId = @item.ManufacturerId, sort = 1, order = 1 }, null)</li>
}
